<div id="distance-bearing">

    <button class="icon" ng-click="toggleVisibility()" tooltip-placement="left" tooltip="{{'distance_bearing_calculator' | translate}}">
        <!--TODO: Fix the alignment here-->
        <span class="glyphicon glyphicon-move"></span>
    </button>
    <div class="popup" ng-show="display">
        <div class="section">
            <span class="title">{{'distance_bearing_calculator' | translate}}</span>
            <button class="pull-right" ng-click="toggleVisibility()">X</button>
        </div>
        <div>
            <!-- TODO: Align the labels/text fields -->
            <div class="section">
                <div>
                    <span>{{'departure' | translate}}:</span>
                    <input class="location-input" ng-model="model.departure.name" ng-blur="retrieveCoordinates('departure')"/>
                </div>
                <!-- TODO: Decimal Degrees vs DMS-->
                <div>
                    <span>{{'latitude' | translate}}:</span> <input type="number" class="coordinate-input" ng-model="model.departure.lat"/>
                </div>
                <div>
                    <span>{{'longitude' | translate}}:</span> <input type="number" class="coordinate-input" ng-model="model.departure.lon"/>
                </div>
            </div>
            <div class="section">
                <div>
                    <span>{{'destination' | translate}}:</span>
                    <input class="location-input" ng-model="model.destination.name" ng-blur="retrieveCoordinates('destination')"/>
                </div>
                <div>
                    <span>{{'latitude' | translate}}:</span> <input type="number" class="coordinate-input" ng-model="model.destination.lat"/>
                </div>
                <div>
                    <span>{{'longitude' | translate}}:</span> <input type="number" class="coordinate-input" ng-model="model.destination.lon"/>
                </div>
            </div>
        </div>
        <div>
            <div class="section">
                <span class="title">{{'distance' | translate}}</span>
                <div>
                    <span>{{model.distance * model.distanceUnitsMultiplier | number:2}}</span>
                    <select ng-model="model.distanceUnitsMultiplier"
                            ng-options="key for (key, value) in distanceConversionObject"></select>
                </div>
            </div>
            <div class="section">
                <span class="title">{{'bearing' | translate}}</span>
                <div>
                    <span>{{model.bearing * model.bearingUnitsMultiplier | number:2}}</span>
                    <select ng-model="model.bearingUnitsMultiplier"
                            ng-options="key for (key, value) in bearingConversionObject"></select>

                </div>
            </div>
        </div>
        <div class="section">
            <input type="checkbox" ng-model="model.displayOnMap" ng-change="showOnMap()"/><span>{{'display_on_map' | translate}}</span>
        </div>
        <div>
            <button ng-click="calculate()">{{'calculate' | translate}}</button>
        </div>
    </div>
</div>