<div id="distance-bearing">
    <div class="icon">

    </div>
    <div class="popup" ng-show="display">
        <div class="title">
            Distance Bearing Calculator
            <button class="pull-right" ng-click="toggleVisibility()">X</button>
        </div>
        <div>
            <div>
                <span>Departure:</span> <input class="location-input" ng-model="model.departure.name"/>
                <!-- TODO: Decimal Degrees vs DMS-->
                <span>Lat:</span> <input class="coordinate-input" ng-model="model.departure.lat"/>
                <span>Lon:</span> <input class="coordinate-input" ng-model="model.departure.lon"/>
            </div>
            <div>
                <span>Destination:</span> <input class="location-input" ng-model="model.destination.name"/>
                <span>Lat:</span> <input class="coordinate-input" ng-model="model.destination.lat"/>
                <span>Lon:</span> <input class="coordinate-input" ng-model="model.destination.lon"/>
            </div>
        </div>
        <div>
            <div>
                <span>Distance</span><span>{{model.distance}}</span><select ng-model="model.distanceUnits"></select>
            </div>
            <div>
                <span>Bearing</span><span>{{model.bearing}}</span><select ng-model="model.bearingUnits"></select>
            </div>
        </div>
        <div>
            <button ng-click="calculate()">Calculate</button>
        </div>
    </div>
</div>