<div>
  <div class="comment-moderation-scroll-pane">
    <ul class="list-group">
      <!--TODO: Might move limit and ordering into service/endpoint -->
      <li class="list-group-item loom-comment-moderation-popover" ng-repeat="comment in log | orderBy: 'submitDate' : true | limitTo: 5" ng-click="commentClicked(commit)">
        <div ng-if="isLoading(comment)" class="diff-loading loom-loading" spinner-hidden="false"></div>
        <div class="comment-summary"  ng-class="comment.status">
        </div>
        <div class="comment-author-name ellipsis">{{comment.username || 'anonymous' | translate}}</div>
        <div class="comment-submit-time ellipsis">{{comment.submitDate | date: 'MM/dd/yyyy @ h:mm a'}}</div>
      </li>
      <li ng-if="commentModerationService.nextPage" class="list-group-item">
        <div class="comment-moderation-loading loom-loading" spinner-hidden="false"></div>
      </li>
      <li class="comment-moderation-last-list-item">
      </li>
    </ul>
  </div>
</div>
