<div>
  <div class="comment-moderation-scroll-pane" ng-switch="summaryMode">
    <ul class="list-group" ng-switch-when="false">
      <li class="list-group-item loom-comment-popover" ng-class="{active: comment.active}" ng-repeat="comment in log" ng-click="commentClicked(comment)">
        <div ng-if="isLoading(comment)" class="diff-loading loom-loading" spinner-hidden="false"></div>
        <div class="comment-summary"  ng-class="comment.get('status')">
        </div>
        <div class="comment-author-name ellipsis">{{comment.get('username') || 'anonymous' | translate}}</div>
        <div class="comment-submit-time ellipsis">{{comment.get('submit_date_time') | date: 'MM/dd/yyyy @ h:mm a'}}</div>
        <div ng-if="comment.active" class="button-bar">
            <button class="glyphicon glyphicon-thumbs-up" title="Approve" ng-click="updateComment('Approved', $event)"></button>
            <button class="glyphicon glyphicon-thumbs-down" title="Reject" ng-click="updateComment('Rejected', $event)"></button>
        </div>
      </li>
      <li ng-if="commentModerationService.nextPage" class="list-group-item">
        <div class="comment-moderation-loading loom-loading" spinner-hidden="false"></div>
      </li>
      <li class="comment-moderation-last-list-item">
      </li>
    </ul>
    <ul class="list-group comment-summary-mode" ng-switch-when="true">
      <li class="list-group-item comment-summary-rollup">
          <div>
              <span class="approved-comments col-md-4"> <div class="glyphicon glyphicon-plus-sign"></div> {{acceptedCount}} </span>
              <span class="pending-comments col-md-4">  <div class="glyphicon glyphicon-edit"></div> {{unapprovedCount}} </span>
              <span class="rejected-comments col-md-4"> <div class="glyphicon glyphicon-minus-sign"></div> {{rejectedCount}} </span>
          </div>
      </li>
      <li class="list-group-item loom-comment-popover" ng-repeat="comment in log" ng-click="commentClicked(comment)">
          <div ng-if="isLoading(comment)" class="diff-loading loom-loading" spinner-hidden="false"></div>
          <span class="comments-status-button glyphicon"  ng-class="{'glyphicon-plus-sign' : comment.status === 'approved', 'glyphicon-edit' : comment.status === 'pending', 'glyphicon-minus-sign' : comment.status === 'rejected'}"></span>
          <span class="ellipsis">{{comment.get('title')}}</span>
          <span class="zoom-to-data"></span>
          <span class="view-details"></span>
      </li>
      <li ng-if="commentModerationService.nextPage" class="list-group-item">
          <div class="comment-moderation-loading loom-loading" spinner-hidden="false"></div>
      </li>
      <li class="comment-moderation-last-list-item">
      </li>
    </ul>
  </div>
</div>
